#passworddiv{
    border: 2px solid red;
    text-align: center;
    padding: 10px;
    width: 35%;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}
   
#generateddiv{
    border: 2px solid red;
    text-align: center;
    padding: 10px;
    width: 35%;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

#button{
    border: 2px solid green;
    padding: 10px;
    width: 15%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.btn{
    width: 90%;
    height: 90%;
}