#passworddiv{
    border: 2px solid red;
    text-align: center;
    padding: 10px;
    width: 35%;
    margin: auto;
}
   
#generateddiv{
    border: 2px solid red;
    text-align: center;
    padding: 10px;
    width: 35%;
    margin: auto;
}

#button{
    border: 2px solid green;
    padding: 5px;
    width: 15%;
    margin: auto;
    text-align: center;
}