<!DOCTYPE html>
<html>
  <head>
    <title>Covid Safety in Schools</title>
  </head>
  <body>

  
<form>
  <input type="radio" id="1" name="onetoten" value="1">
  <label for="1">1</label><br>
  <input type="radio" id="2" name="onetoten" value="2">
  <label for="2">2</label><br>
  <input type="radio" id="3" name="onetoten" value="3">
  <label for="3">3</label>
  <input type="radio" id="4" name="onetoten" value="4">
  <label for="4">4</label><br>
  <input type="radio" id="5" name="onetoten" value="5">
  <label for="5">5</label><br>
  <input type="radio" id="6" name="onetoten" value="6">
  <label for="6">6</label>
  <input type="radio" id="7" name="onetoten" value="7">
  <label for="7">7</label><br>
  <input type="radio" id="8" name="onetoten" value="8">
  <label for="8">8</label><br>
  <input type="radio" id="9" name="onetoten" value="9">
  <label for="9">9</label>
  <input type="radio" id="10" name="onetoten" value="10">
  <label for="10">10</label>
</form>

  </body>
</html>