{%extends "template.html"%}
 {%block content%}
           <h3>How well do you know your Valve games? Let's find out, starting with something easy.</h3>
            <p>What is the first game that Valve released?</p>
                <form action="/page1">
                  <input type="radio" id="gamehalflife1" name="1stgame" value="halflife1">
                  <label for="gamehalflife1">Half Life 1</label>
                  <input type="radio" id="gameportal" name="1stgame" value="portal">
                  <label for="gameportal">Portal 1</label><br>
                  <input type="radio" id="gamedeusex" name="1stgame" value="deusex">
                  <label for="gamedeusex">Deus Ex</label>
                  <input type="radio" id="gameteamfortress" name="1stgame" value="teamfortress">
                  <label for="gameteamfortress">Team Fortress Classic</label><br><br>
                  <input id="button" class = "btn btn primary" type="submit" value="Next">
                
                </form>
  {%endblock%}
