<!DOCTYPE html>
<html>
  <head>
    <title>Password Generator</title>
    <link rel="stylesheet" href="/static/mystyle.css">
  </head>
  
    <body>
        <div id=passworddiv>
            <h3>Quick Password Generator</h3>
              <form action="/response">
                  <label for="word">Input a word you want incorporated into your password here (preferably around 5 letters):</label><br>
                  <input type="text" id="word" name="word"><br>
                  <label for="number"> Then, input a number you want incorporated into your password here:</label><br>
                  <input type="number" id="number" name="number"><br><br>
                  <input id="button" type="submit" value="Submit">
              </form>
        </div>
   
    
    </body>
</html>