{%extends "template.html"%}
 {%block content%}
            <h4>What is the name of the player character in the Portal series?</h4>
                <form action="/page4" method="post">
                  <input type="radio" id="playernamewheatley" name="playername" value="Wheatley">
                  <label for="playernamewheatley">Wheatley</label>
                  <input type="radio" id="playernamechell" name="playername" value="Chell">
                  <label for="playernamechell">Chell</label><br>
                  <input type="radio" id="playernamegordon" name="playername" value="Gordon Freeman">
                  <label for="playernamegordon">Gordon Freeman</label>
                  <input type="radio" id="playernamebenrey" name="playername" value="Benrey">
                  <label for="playernamebenrey">Benrey</label><br><br>
                  <input id="button" class = "btn btn primary" type="submit" value="Next">
                </form>
  {%endblock%}