{%extends "template.html"%}
 {%block content%}
            <p>What is the name of the engine Valve makes games in?</p>
                <form action="/page3">
                  <input type="radio" id="gameengineunreal" name="gameengine" value="unreal">
                  <label for="gameengineunreal">Unreal</label>
                  <input type="radio" id="gameengineunity" name="gameengine" value="unity">
                  <label for="gameengineunity">Unity</label><br>
                  <input type="radio" id="gameenginesource" name="gameengine" value="source">
                  <label for="gameenginesource">Source</label>
                  <input type="radio" id="gameengineleadwerks" name="gameengine" value="leadwerks">
                  <label for="gameengineleadwerks">Leadwerks</label><br><br>
                  <input id="button" class = "btn btn primary" type="submit" value="Next">
                </form>
  {%endblock%}