{%extends "template.html"%}
 {%block content%}
            <h4>What is the name of the engine Valve makes games in?</h4>
                <form action="/page3" method="post">
                  <input type="radio" id="gameengineunreal" name="gameengine" value="Unreal">
                  <label for="gameengineunreal">Unreal</label>
                  <input type="radio" id="gameengineunity" name="gameengine" value="Unity">
                  <label for="gameengineunity">Unity</label><br>
                  <input type="radio" id="gameenginesource" name="gameengine" value="Source">
                  <label for="gameenginesource">Source</label>
                  <input type="radio" id="gameengineleadwerks" name="gameengine" value="Leadwerks">
                  <label for="gameengineleadwerks">Leadwerks</label><br><br>
                  <input id="button" class = "btn btn primary" type="submit" value="Next">
                </form>
  {%endblock%}