<!DOCTYPE html>
<html>
  <head>
    <title>Password Generated</title>
    <link rel="stylesheet" href="/static/mystyle.css">    

    <!--boostrap stuff-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
  </head>
  
  <body>
  
    <div id=generateddiv>
        <h1> Password:</h1>
        <h3>{{response}}</h3>
    </div>
    
    <div id=button>
    
        <a href="=https://dswpasswordgenerator.herokuapp.com/" class="btn btn-primary">Generate Another?</a>
   
   </div>
    
  </body>
</html>